<div class="container-fluid background">
  <div class="row">
    <div class="col-lg-2 col-sm-4 mt-1 mb-1" *ngFor="let category of categories">
      <ul class="list-group">
        <li class="card-category d-flex">
          <a routerLink="/course/{{category.id}}">
            <div class="card-img">
              <img src="{{category.image}}" alt="user-image">
            </div>
            <div class="card-info">
              <span>{{category.title}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-info" routerLink="/category/new">Novo</button>
</div>
