.list-group {
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.card-category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 200px;
  text-align: center;
  margin: 30px 0px;
  border-radius: 20px;
}
