<div class="container-fluid background">
  <div class="row">
    <div class="col-lg-2 col-sm-4 mt-1 mb-1" *ngFor="let category of categories">
      <ul class="list-group">
        <li class="card-category d-flex">
          <app-category-card (selectCategoryEvent)="this.setCategorySelected($event)" [category]="category"></app-category-card>
        </li>
      </ul>
    </div>
  </div>
  <p>Categoria selecionada: <b>{{categorySelected}}</b></p>
  <button class="btn btn-info mb-2 mt-2" routerLink="/category/new">Novo</button>
</div>
