<div class="pos-f-t menuexpansivel">
    <nav class="navbar navbar-light">
        <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target = "#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="list-group menuusuario bg-light p4">
            <li class="list-group-item disabled">CATEGORIAS</li>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Tecnologia de Informação</a>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Gestão de Obras</a>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Metodologias Ativas</a>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Projetos Mecânicos</a>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Processos de fabricação</a>
        </div>
    </div>
</div>
<div class="menubackground"></div>

