<div class="pos-f-t menuexpansivel">
    <nav class="navbar navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="list-group menuusuario bg-light p4 mb-4">
            <li class="list-group-item disabled">CATEGORIAS</li>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Pincher</a>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Doberman</a>
            <a href="" class="list-group-item list-group-item-action itemclicavel">Chihuahua</a>
        </div>
    </div>
</div>
<div class="menubackground"></div>
