<div class="background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 card-content" *ngFor="let course of courses">
        <div class="card" style="width: 18rem;">
          <img src="{{course.image}}" class="card-img-top card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text truncated-text">{{course.description}}</p>
            <p class="card-text">Preço: R${{course.cost}}</p>
            <p class="card-text">Duração do curso: {{course.duration}} {{course.duration > 1 ? 'horas' : 'hora'}}</p>
            <a routerLink="/course-details" class="btn btn-primary">Saiba +</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
