.truncated-text{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.truncated-text:hover{
  overflow: visible;
  white-space: normal;
}

.card-img {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.btn-primary{
  background-color: var(--cor-primaria);
  color: var(--cor-quintenaria);
  border: var(--cor-primaria);
}

.btn-primary:hover{
  opacity: 0.5;
}
