<div class="row">
  <div class="titulosite d-flex align-items-center">
    <span>{{this.titulosite}}</span>
    <img id="img-titulo" src="cachorro_ico.png" alt="">
    <div class="d-flex align-items-center col-sm justify-content-end">
      <a (click)="this.menuusuario = !this.menuusuario">
        <img id="img-header" src="assets/pug.jpg" alt="pug">
      </a>
    </div>
  </div>
</div>
<div *ngIf="this.menuusuario" class="list-group menuusuario">
  <li class="list-group-item disabled">MENU</li>
  <a href="#" class="list-group-item list-group-item-action itemclicavel">Admin</a>
  <a href="#" class="list-group-item list-group-item-action itemclicavel">Logout</a>
</div>
